.contact-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: transparent;     
}
.contact-box {
  position: absolute;
  top: 45%;             
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);

  padding: 40px;
  border-radius: 15px;
  width: 420px;

  color: white;
}
.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-field input,
.input-field textarea {
  padding: 10px;
  border-radius: 8px;
  outline: none;
  border: none;
  margin-top: 5px;
}
.send-btn {
  width: 100%;
  padding: 12px;
  border: none;
  background: #00e5ff;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}

.send-btn:hover {
  background: white;
}
.status {
  margin-top: 15px;
  color: #00ffae;
  text-align: center;
}