 
.projects-page {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #000000;
}
.prism-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.projects-container {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  gap: 40px;
}
.projects-title {
  color: #ffffff;
  font-size: 3.5rem;
  text-align: center;
  margin: 0;
}
.projects-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.project-card {
  background-color:rgba(0, 0, 0, 0.6);
  padding: 20px;
  width: 280px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(96, 91, 193, 0.05);
  color: #f5ebeb;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(49, 243, 78, 0.703);
}
.project-card h3 {
  margin-bottom: 10px;
  font-size: 1.7rem;
}
.project-card p {
  font-size: 1rem;
  line-height: 1.5;
}
