.projects-page {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;

  background-color: #000;
}
.projects-container {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  gap: 40px;
}
.projects-title {
  color: #ffffff;
  font-size: 3.5rem;
  text-align: center;
  margin: 0;
}
.projects-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 30px;
  width: 100%;
  overflow-x: auto;
  padding-bottom: 20px;
}
.projects-row::-webkit-scrollbar {
  height: 8px;
}
.projects-row::-webkit-scrollbar-thumb {
  background: #00f6ff;
  border-radius: 10px;
}
.project-card {
  position: relative;
  overflow: hidden;
  width: 330px;
  padding: 25px;
  background: black;
  border-radius: 12px;
  color: #fff;
  min-height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.project-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg, #1f18a1, #49e622);
  height: 3px;
  top: 0;
  left: -100%;
  animation: moveBorder 6s linear infinite;
  pointer-events: none;
  z-index: 50;
}
@keyframes moveBorder {
  0% { top: 0; left: -100%; width: 100%; height: 3px; }
  25% { top: 0; left: 100%; width: 100%; height: 3px; }
  26% { top: -100%; right: 0; left: auto; width: 3px; height: 100%; }
  50% { top: 100%; right: 0; left: auto; width: 3px; height: 100%; }
  51% { bottom: 0; top: auto; right: -100%; width: 100%; height: 3px; }
  75% { bottom: 0; top: auto; right: 100%; width: 100%; height: 3px; }
  76% { left: 0; bottom: -100%; top: auto; width: 3px; height: 100%; }
  100% { left: 0; bottom: 100%; top: auto; width: 3px; height: 100%; }
}


.project-card h3 {
  margin-bottom: 10px;
  font-size: 1.7rem;
}

.project-card p {
  font-size: 1rem;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .projects-page {
    height: auto;
    overflow-y: auto;
    padding: 20px 10px;
  }

  .projects-title {
    font-size: 56px;
  }

  .projects-row {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-x: hidden; 
    width: 100%;
    padding-bottom: 0;
  }

  .project-card {
    width: 90%;
    max-width: 300px;
    padding: 20px;
    min-height: 180px;
  }

  .project-card h3 {
    font-size: 1.3rem;
  }

  .project-card p {
    font-size: 0.9rem;
  }
}
