.navbar {
  width: 100%;
  padding: 15px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #c1e5f5;
}
.nav-logo {
  font-size: 28px;
  font-weight: 700;
  color: black;
  letter-spacing: 1px;
  background: transparent;  
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}
.nav-links li a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  transition: 0.3s ease;
}
.nav-links li a:hover {
  color: #70ace8;  
  text-shadow: 0 0 10px #70ace8;
  transform: scale(1.05);
}




