.navbar {
  width: 100%;
  padding: 18px 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: linear-gradient(
    90deg,
    #0b8f02,   
    #57f146    
  );

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  font-size: 24px;
  font-weight: 700;
  color: white;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}
.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 20px; 
  transition: 0.3s;

}
.nav-links li a:hover {
  color: #ffffff;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.7);
}



