
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
  background-color: #000; 
  color: #fff;
}
.main-content {
  padding-top: 52px; 
  height: calc(100vh - 52px);
  width: 100%;
  overflow: hidden;
}
.menu-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html {
  scroll-behavior: smooth;
}

